.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo__container{
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        margin-top: 25px;
        img{
            width: 13%;
            height: 13%;
            @media only screen and (max-width: 600px){
                width: 25%;
                height: 25%
            }
        }
    }
    h1{
        color:  #1b9ee4;
        @media only screen and (max-width: 600px){
            font-size: 15px;
        }
    }
    &__container{
        border-radius: 15px;
        border: 2px #f2f2f2 solid ;
        background-color: white;
        width: 80%;
        padding: 20px;
        margin-top: 25px;
        label{
            font-weight: bold;
            color:  #006faa;
        }
        input[type=text],select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #f2f2f2;;
          }
          input[type=text]{
              background-color: white;;
          }
          
          input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
        
        
          
    }
    button{
        margin: 35px 0;
        padding: 15px 40px;
        font-weight: bold;
        color: white;
        background-color: #6db8e1;
        border-radius: 5px;
        border: 1px white solid;
        cursor: pointer;
        &:active {
            box-shadow: 0 1px #666;
            transform: translateY(4px);
        }
        &:hover {
            background-color:  #57b4e6;
          }
      }
}
